body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.youtube {
    display: flex;
    align-items: left;
}

#youtube {
  display: flex;
  align-items: left;
  /* justify-content: space-between; */
}

#youtube #playerContainer {
  /* display: flex; */
  margin-right: 5px;
  align-items: right;
}

#youtubeLink {
  margin-bottom: 5px;
  border: none;
  font-size: 12px;
  width: 90%;
  text-align: center
}

#textSearch {
  margin-top: 5px;
  border: none;
  font-size: 12px;
  width: 80%;
  text-align: center
}

#youtube #playerContainer #player {
  margin-bottom: 15px;
}

#captionTable {
  width: 100%
}

#captionContainer {
  display: flex
}

#youtube #captions {
  display: flex;
  overflow: auto;
  max-height: 80vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: fit-content;
  cursor: pointer;
}

#youtube #topics {
  display: flex;
  overflow: auto;
  max-height: 80vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: fit-content;
  margin-left: 2px;
  margin-right: 3px;
  cursor: pointer;
}


#youtube #keywords {
  display: flex;
  margin-top: 15px;
  width: fit-content;
  overflow: auto;
  max-height: 30vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: fit-content;
  cursor: pointer;
}
/*
td {
  text-align: center;
  vertical-align: middle;
} */

th {
  background-color: #005d80;
  color: white;
}

td {
  padding: 4px;
}

tr:hover {
  background-color: #f5f5f5;
}

html {
  background: url('./assets/spaceWallpaper.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black
}

body {
  color: white;
}

h1 {
  color: white;
}

/* a {
  color: #009B82;
  font-weight: bold;
  font-size: 18px;
} */

a:link, a:visited {
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: #005d80
}

#navbarContainer {
  display: flex;
  justify-content: space-between
}

#navbar {

}
