body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.youtube {
    display: flex;
    align-items: left;
}

#youtube {
  display: flex;
  align-items: left;
}

#youtube .player {
  display: flex;
  align-items: right;
}

#youtube #captions {
  display: flex;
  overflow: auto;
  max-height: 90vh;
}

#youtube #topics {
  display: flex;
  overflow: auto;
  max-height: 90vh;
}

td {
  /* text-align: center; */
  /* vertical-align: middle; */
}
